<h1>Criar Usuario MIL!</h1> <br>
<form action="/" method="post">
  <label for="coloque_seu_nome">Usuario:</label>
  <input type="text" name="nome">
  <label for="coloque_sua_senha">Senha:</label>
  <input type="password" name="senha">
  <label for="coloque_seu_codigo">Codigo:</label>
  <input type="text" name="codigo">
  <p><input type="submit" value="Continue →"></p>
</form>